In [19]:
print('hello world')

hello world

#### Running Postgres using docker

docker run -it --name postgres_db -e POSTGRES_USER='root' -e POSTGRES_PASSWORD='root' -e POSTGRES_DB='taxi_db' -v $(pwd)/postgres_data:/var/lib/postgresql/data -p 5432:5432 postgres:latest

##### Downloading the source in commandline

wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz 

gunzip yellow_tripdata_2021-01.csv.gz

#### Reading the csv file

In [20]:
import pandas as pd
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', 
                 nrows=100, parse_dates= ['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                 compression= 'gzip')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [21]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [22]:
#df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

#### Create Schema

In [2]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/taxi_db')
engine.connect()

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [25]:
print(pd.io.sql.get_schema(df, name='taxi_table', con= engine))

CREATE TABLE taxi_table (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

##### Batch Processing of Large Source data

In [26]:
df_iter = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', 
                      low_memory=False, iterator=True, chunksize=100000, compression= 'gzip',parse_dates= ['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

In [27]:
for chunk in df_iter:
    chunk.to_sql( name='taxi_table', con= engine, if_exists='append')

/tmp/ipykernel_42906/3961624079.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_iter:

In [28]:
#df_chunk = df_iter.get_chunk()
#df_chunk

In [29]:
df_iter.chunksize

100000

In [37]:
query = "Select 1 as number"
pd.read_sql(query, con=engine)

   number
0       1

In [38]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,taxi_table,root,None,True,False,False,False

In [39]:
query = """
SELECT count(*)
FROM taxi_table;
"""

pd.read_sql(query, con=engine)

     count
0  1969765

In [41]:
query = """
SELECT * 
FROM taxi_table limit 5;
"""

pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [40]:
query = """
SELECT max(trip_distance) FROM taxi_table  
;
"""

pd.read_sql(query, con=engine)

         max
0  263163.28

In [35]:
query = """
SELECT count(*) FROM taxi_table WHERE fare_amount >(
SELECT avg(fare_amount) 
FROM taxi_table
);
"""

pd.read_sql(query, con=engine)

    count
0  395156

python data_ingestion_script.py   --user=root   --password=root   --host=localhost   --port=5432   --db=taxi_db   
--table_name=taxi_table  --file_url=${URL}

docker build -t data_ingest:01 .

URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

docker run -it \
  data_ingest:01 \
    --user=root \
    --password=root \
    --host=localhost \
    --port=5432 \
    --db=taxi_db \
    --table_name=taxi_table \
    --file_url=${URL}

docker system prune -f